@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

:root {
  --background: oklch(0.9865 0.0066 286.2780);
  --foreground: oklch(0.2284 0.0384 282.9324);
  --card: oklch(0.9595 0.0200 286.0164);
  --card-foreground: oklch(0.2284 0.0384 282.9324);
  --popover: oklch(0.9865 0.0066 286.2780);
  --popover-foreground: oklch(0.2284 0.0384 282.9324);
  --primary: oklch(0.5931 0.3006 309.6183);
  --primary-foreground: oklch(0.9865 0.0066 286.2780);
  --secondary: oklch(0.9348 0.0175 286.0572);
  --secondary-foreground: oklch(0.2284 0.0384 282.9324);
  --muted: oklch(0.9348 0.0175 286.0572);
  --muted-foreground: oklch(0.5 0.03 286.2780);
  --accent: oklch(0.9054 0.1546 194.7689);
  --accent-foreground: oklch(0.2284 0.0384 282.9324);
  --destructive: oklch(0.6453 0.2603 2.4708);
  --destructive-foreground: oklch(0.9865 0.0066 286.2780);
  --border: oklch(0.8624 0.0220 285.9304);
  --input: oklch(0.8624 0.0220 285.9304);
  --ring: oklch(0.5931 0.3006 309.6183);
  --chart-1: oklch(0.5931 0.3006 309.6183);
  --chart-2: oklch(0.9054 0.1546 194.7689);
  --chart-3: oklch(0.8763 0.2278 152.5496);
  --chart-4: oklch(0.6958 0.2043 43.4910);
  --chart-5: oklch(0.9680 0.2110 109.7692);
  --sidebar: oklch(0.9595 0.0200 286.0164);
  --sidebar-foreground: oklch(0.2284 0.0384 282.9324);
  --sidebar-primary: oklch(0.5931 0.3006 309.6183);
  --sidebar-primary-foreground: oklch(0.9865 0.0066 286.2780);
  --sidebar-accent: oklch(0.9348 0.0175 286.0572);
  --sidebar-accent-foreground: oklch(0.2284 0.0384 282.9324);
  --sidebar-border: oklch(0.8624 0.0220 285.9304);
  --sidebar-ring: oklch(0.5931 0.3006 309.6183);
  --header: oklch(0.9865 0.0066 286.2780);
  --header-foreground: oklch(0.2284 0.0384 282.9324);
  --footer: oklch(0.9865 0.0066 286.2780);
  --footer-foreground: oklch(0.2284 0.0384 282.9324);
  --code: oklch(0.9865 0.0066 286.2780);
  --code-foreground: oklch(0.5931 0.3006 309.6183);
  --code-highlight: oklch(0.9595 0.0200 286.0164);
  --code-number: oklch(0.6958 0.2043 43.4910);
  --code-selection: oklch(0.8624 0.0220 285.9304);
  --code-border: oklch(0.8624 0.0220 285.9304);
  --radius: 1rem;
}

.dark {
  --background: oklch(0.1473 0.0107 285.0074);
  --foreground: oklch(0.9163 0.0420 285.5407);
  --card: oklch(0.1974 0.0240 283.9877);
  --card-foreground: oklch(0.9163 0.0420 285.5407);
  --popover: oklch(0.1974 0.0240 283.9877);
  --popover-foreground: oklch(0.9163 0.0420 285.5407);
  --primary: oklch(0.5931 0.3006 309.6183);
  --primary-foreground: oklch(0.1473 0.0107 285.0074);
  --secondary: oklch(0.2230 0.0213 284.5399);
  --secondary-foreground: oklch(0.9163 0.0420 285.5407);
  --muted: oklch(0.2230 0.0213 284.5399);
  --muted-foreground: oklch(0.7 0.03 285.5407);
  --accent: oklch(0.9054 0.1546 194.7689);
  --accent-foreground: oklch(0.1473 0.0107 285.0074);
  --destructive: oklch(0.6453 0.2603 2.4708);
  --destructive-foreground: oklch(0.1473 0.0107 285.0074);
  --border: oklch(0.2922 0.0290 284.4640);
  --input: oklch(0.2922 0.0290 284.4640);
  --ring: oklch(0.5931 0.3006 309.6183);
  --chart-1: oklch(0.5931 0.3006 309.6183);
  --chart-2: oklch(0.9054 0.1546 194.7689);
  --chart-3: oklch(0.8763 0.2278 152.5496);
  --chart-4: oklch(0.6958 0.2043 43.4910);
  --chart-5: oklch(0.9680 0.2110 109.7692);
  --sidebar: oklch(0.1974 0.0240 283.9877);
  --sidebar-foreground: oklch(0.9163 0.0420 285.5407);
  --sidebar-primary: oklch(0.5931 0.3006 309.6183);
  --sidebar-primary-foreground: oklch(0.1473 0.0107 285.0074);
  --sidebar-accent: oklch(0.2230 0.0213 284.5399);
  --sidebar-accent-foreground: oklch(0.9163 0.0420 285.5407);
  --sidebar-border: oklch(0.2922 0.0290 284.4640);
  --sidebar-ring: oklch(0.5931 0.3006 309.6183);
  --header: oklch(0.1473 0.0107 285.0074);
  --header-foreground: oklch(0.9163 0.0420 285.5407);
  --footer: oklch(0.1473 0.0107 285.0074);
  --footer-foreground: oklch(0.9163 0.0420 285.5407);
  --code: oklch(0.1473 0.0107 285.0074);
  --code-foreground: oklch(0.9163 0.0420 285.5407);
  --code-highlight: oklch(0.1974 0.0240 283.9877);
  --code-number: oklch(0.6958 0.2043 43.4910);
  --code-selection: oklch(0.2922 0.0290 284.4640);
  --code-border: oklch(0.2922 0.0290 284.4640);
  --radius: 1rem;
}